#heading {
  font-family: "Trebuchet MS";
  font-size: 45px;
  text-align: center;
}

.text1 {
  margin-bottom: 1px;
  font-family: "Calibri Light";
  text-align: center;
  font-size: 20px;
}

.text2 {
  margin-top: 1px;
  font-family: "Calibri Light";
  color: #999999;
  text-align: center;
  font-size: 20px;
}
